<a href="https://colab.research.google.com/github/Subhajit53/NYC-Taxi-Trip-Time-Prediction/blob/main/NYC_Taxi_Trip_Time_Prediction_Colab_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Taxi trip time Prediction : Predicting total ride duration of taxi trips in New York City</u></b>

## <b> Problem Description </b>

### Your task is to build a model that predicts the total ride duration of taxi trips in New York City. Your primary dataset is one released by the NYC Taxi and Limousine Commission, which includes pickup time, geo-coordinates, number of passengers, and several other variables.

## <b> Data Description </b>

### The dataset is based on the 2016 NYC Yellow Cab trip record data made available in Big Query on Google Cloud Platform. The data was originally published by the NYC Taxi and Limousine Commission (TLC). The data was sampled and cleaned for the purposes of this project. Based on individual trip attributes, you should predict the duration of each trip in the test set.

### <b>NYC Taxi Data.csv</b> - the training set (contains 1458644 trip records)


### Data fields
* #### id - a unique identifier for each trip
* #### vendor_id - a code indicating the provider associated with the trip record
* #### pickup_datetime - date and time when the meter was engaged
* #### dropoff_datetime - date and time when the meter was disengaged
* #### passenger_count - the number of passengers in the vehicle (driver entered value)
* #### pickup_longitude - the longitude where the meter was engaged
* #### pickup_latitude - the latitude where the meter was engaged
* #### dropoff_longitude - the longitude where the meter was disengaged
* #### dropoff_latitude - the latitude where the meter was disengaged
* #### store_and_fwd_flag - This flag indicates whether the trip record was held in vehicle memory before sending to the vendor because the vehicle did not have a connection to the server - Y=store and forward; N=not a store and forward trip
* #### trip_duration - duration of the trip in seconds

# **Introduction :**
##### In this era of hussle and bustle, everyone wants to save some time from their daily life. And for the people who wants to save some time for their relaxation or important meeting or a football match, road journeys are the main obstacles. In New York City, on an average, people spend around 54 minutes in public transports daily, and 55% among them spend above 2 hours. Average waiting time for public transports is around 13 minutes in New York City.
##### And here comes a scenario where this average time for arrival to destination is very important. Say, somebody has a very important meeting from 11 AM and he lives around 2 KMs away from his office. Now, he has to know how he should plan his journey (whether take a walk or taxi) and when he should get out from his home etc. That's why getting an estimate of EDA time is important is many situations.
##### Nowadays people can get that information from Google Maps or some online taxi service provider they are using.
##### Here, I want to model that EDA time using some supervised ML models and try to get an idea of how Google, OLA, Uber etc provide those EDA times.

# **Approach :**
##### To solve the problem, I have devised a 4-step approach below:

#### **1. Basic EDA :**
##### In this step, I want to do some exploration on the data. First, I shall check for null values and try to replace or remove them. Then, I shall check for outliers using boxplots and try to replace or remove them. Thirdly, I shall get some visualizations to get an idea of the varibales in hand.

#### **2. Feature Engineering :**
##### In this second step, I want come up with some features using the existing ones which might be better in explaining my dependent variable 'trip_duration'. And I shall plot a correlation heatmap to evaluate the relationship between variables. Also, I shall do some EDA on newly made variables and do some anomaly detection to make the model more robust.

#### **3. Model training :**
##### In this step, I shall get a train-test pair from the given dataset and fit 4 regression models to the train set. The models are namely : Linear Regression, Random Forests, Gradient Boosting Machine, Support Vector Machines.

#### **4. Model testing**
##### As the last step, I shall evaluate all the models and try to come up with a conclusion about which model might be the best choice here.

# **Analysis:**

### **Data Exporting and exploration :**

In [1]:
# Importing essential libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopy.distance

In [2]:
# Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Reading the dataset
taxi_df = pd.read_csv('/content/drive/MyDrive/NYC Taxi Trip Time Prediction - Subhajit Ganguly/NYC Taxi Data.csv', index_col = 'id')

In [4]:
# Having a glance at the dataset
taxi_df.head()

           vendor_id      pickup_datetime  ... store_and_fwd_flag  trip_duration
id                                         ...
id2875421          2  2016-03-14 17:24:55  ...                  N            455
id2377394          1  2016-06-12 00:43:35  ...                  N            663
id3858529          2  2016-01-19 11:35:24  ...                  N           2124
id3504673          2  2016-04-06 19:32:31  ...                  N            429
id2181028          2  2016-03-26 13:30:55  ...                  N            435

[5 rows x 10 columns]

In [5]:
# Getting the shape of the dataset
taxi_df.shape

(1458644, 10)

In [6]:
# Getting an info of the dataset
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1458644 entries, id2875421 to id1209952
Data columns (total 10 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   vendor_id           1458644 non-null  int64
 1   pickup_datetime     1458644 non-null  object
 2   dropoff_datetime    1458644 non-null  object
 3   passenger_count     1458644 non-null  int64
 4   pickup_longitude    1458644 non-null  float64
 5   pickup_latitude     1458644 non-null  float64
 6   dropoff_longitude   1458644 non-null  float64
 7   dropoff_latitude    1458644 non-null  float64
 8   store_and_fwd_flag  1458644 non-null  object
 9   trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 122.4+ MB